hr {
    height: 3px;
    width: 75%;
    margin-left: 5%;
    margin-right: 50%;
    background-color: #708090;
  }

.hydrated {
    visibility: inherit;
    margin-left: 5% !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
}