<ion-content  color="tertiary" (click)="onClick()">
<ion-card  >

            <ion-card-subtitle><ion-label >October to May:</ion-label> </ion-card-subtitle>
            <hr>    
                    <ion-label>Tuesday-Friday <ion-badge slot="end">17:30-19:30</ion-badge></ion-label><br>
                    <ion-label>Saturday-Sunday <ion-badge slot="end">12-14 & 17:30-19:30</ion-badge></ion-label><br>
            <ion-card-subtitle> <ion-label>June to September:</ion-label></ion-card-subtitle>
            <hr><ion-label>Tuesday-Sunday </ion-label><ion-badge slot="end">12-14 & 18-21</ion-badge>
 
</ion-card>

</ion-content>