
<ion-tabs mode="ios">


  <ion-tab-bar slot="bottom" color="primary">

    <ion-tab-button tab="art">
        <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
      <ion-label>ART CAMERA</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
        <ion-icon ios="ios-home" md="md-home"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="info">
        <ion-icon ios="ios-information-circle-outline" md="md-information-circle-outline"></ion-icon>
      <ion-label>INFO</ion-label>
    </ion-tab-button>


  </ion-tab-bar>


</ion-tabs>

