<ion-header>
  <ion-toolbar mode="ios" color="primary">
      <ion-avatar slot="start"><img src="/assets/logo.png"></ion-avatar>  <ion-title>HOME</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content  color="tertiary">
  <ion-card color="primary">
      
    <ion-card-header color="primary">
      <ion-card-title>Anton Museum,</ion-card-title>
      <ion-card-subtitle> the Candas sculpture center</ion-card-subtitle>

    </ion-card-header>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button  color="dark" size="small" >
          <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
        </ion-fab-button>
    
        <ion-fab-list side="start">
            <ion-fab-button color="facebook" href="https://www.facebook.com/museoanton"><ion-icon ios="logo-facebook"  md="logo-facebook"></ion-icon></ion-fab-button>
            <ion-fab-button color="twitter" href="https://twitter.com/MuseoAnton"><ion-icon ios="logo-twitter"  md="logo-twitter" ></ion-icon></ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    <img src="/assets/anton.jpg" class="slide-image">
    <ion-card-content>
      <p>The Center of Sculpture of Candás, Antón Museum has as objectives the conservation of its collections and the study, 
      documentation and diffusion of art.<br></p>
      <p>We will help you enjoy a guided tour of the Anton Museum. <br></p>
      <p>You can take pictures of the works that you will see in the gallery and send them to me to <br></p> 
      <p> know all their features. <br></p> 
   
    </ion-card-content>
  </ion-card>
  <ion-item >
      <ion-icon ios="ios-pin" md="md-pin" slot="start"></ion-icon>
      <ion-label>C/Valdes Pumarino,2</ion-label>
      <ion-button fill="outline" slot="end" href="https://wego.here.com/directions/mix//Museo-Ant%C3%B3n,-Calle-Vald%C3%A9s-Pumarino,-2,-33430-Cand%C3%A1s,-Spain:e-eyJuYW1lIjoiTXVzZW8gQW50XHUwMGYzbiIsImFkZHJlc3MiOiJDYWxsZSBWYWxkXHUwMGU5cyBQdW1hcmlubywgMiwgQ2FuZFx1MDBlMXMiLCJsYXRpdHVkZSI6NDMuNTkwNDk2OTIzNzU1LCJsb25naXR1ZGUiOi01Ljc2NDA5MDQyMjQ2MjMsInByb3ZpZGVyTmFtZSI6ImZhY2Vib29rIiwicHJvdmlkZXJJZCI6NTE2ODE0OTE4Mzk1MTc0fQ==?map=43.5905,-5.76409,15,normal&fb_locale=es_ES">How to get</ion-button>
    </ion-item>
    

</ion-content>
